<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>airG Overwatch Dashboard</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">airG Overwatch</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Players</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="header">
        <div id="gif-background" style='position:absolute;'><iframe src='https://gfycat.com/ifr/AggressiveMinorEstuarinecrocodile' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/main.png') }}" alt="">
                    <div class="intro-text">
                        <span class="name">airG Overwatch</span>
                        <hr class="star-light">
                        <span class="skills">Dashboard for Players</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>players</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for player in players %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#{{ player[1]['handle'] }}" class="portfolio-link" data-toggle="modal">
                        <!-- <a href="{{ overwatch_url.format(player[1]['handle']) }}" class="portfolio-link"> -->
                            {% if player[1]['most_played_hero'] == 'roadhog' %}
                                <img src="{{ url_for('static', filename=player[1]['portrait']) }}" class="img-responsive portrait-hero" style="left:40px;" alt="">
                            {% else %}
                                <img src="{{ url_for('static', filename=player[1]['portrait']) }}" class="img-responsive portrait-hero" alt="">
                            {% endif %}
                            <div>
                                {% if player[1]['level'] < 10 %}
                                    <h3 style="color: #383838; margin-left: 8px;">{{ player[1]['level'] }}</h3>
                                {% elif 9 < player[1]['level'] < 20 or player[1]['level'] % 10 == 1 %}
                                    <h3 style="color: #383838; margin-left: 2px;">{{ player[1]['level'] }}</h3>
                                {% else %}
                                    <h3 style="color: #383838; margin-left: -1px">{{ player[1]['level'] }}</h3>
                                {% endif %}
                                <img src="{{ player[1]['level_frame_img_url'] }}" class="img-responsive level-frame" alt="">
                                {% if player[1].get('rank_img_url') %}
                                    <img src="{{ player[1]['rank_img_url'] }}" class="img-responsive rank-img" alt="">
                                {% endif %}
                            </div>
                            <h1 class="player-name">{{ player[0] }}</h1>
                            <span class="battlenet-handle"><br/>{{ player[1]['handle'] }}</span>
                            <div id="stat-summary">
                                {% if player[1].get('kda') and player[1].get('winrate') %}
                                    <span class="stat-preview">KDA ratio: {{ player[1]['kda'] }}</span>
                                    {% if player[1].get('competitive_kda') %}
                                        <span class="stat-preview" style="color: #0087E0;">/ {{ player[1]['competitive_kda'] }}</span>
                                    {% endif %}
                                    <br/>
                                    <span class="stat-preview">Win rate: {{ player[1]['winrate'] }}%</span>
                                    {% if player[1].get('competitive_winrate') %}
                                        <span class="stat-preview" style="color: #0087E0;">/ {{ player[1]['competitive_winrate'] }}%</span>
                                    {% endif %}
                                    <br/>
                                {% else %}
                                    <span class="stat-preview">KDA ratio: N/A</span><br/>
                                    <span class="stat-preview">Win rate: N/A</span><br/>
                                {% endif %}

                                {% if player[1].get('competitive_skill_rating') %}
                                    <span class="stat-preview" style="color: #0087E0;">Competitive skill rating: {{ player[1]['competitive_skill_rating'] }}</span>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Wanna contribute? Found a bug? It all starts <a href="https://github.com/simstre/overwatchstats">here</a>
                    </div>
                    <div class="col-lg-12" id="last-updated">
                        last updated: {{ last_updated }}
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    {% for player in players %}
        <div class="portfolio-modal modal fade" id="{{ player[1]['handle'] }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>{{ player[0] }}</h2>
                                <hr class="star-primary">

                                <div class="profile-stats">
                                    {% if player[1].get('competitive_skill_rating') %}
                                        <span class="competitive-stat">Competitive skill rating: {{ player[1]['competitive_skill_rating'] }}</span>
                                    {% endif %}
                                    <table style="margin-top:20px" id="profile-stat-table">
                                        <tr>
                                            <th>

                                            </th>
                                            <th>
                                                Quick Play
                                            </th>
                                            <th>
                                                Competitive Play
                                            </th>
                                        </tr>
                                        <tr>
                                            <td class="stat-title">
                                                KDA ratio
                                            </td>
                                            <td>
                                                {{ player[1]['kda'] }}
                                            </td>
                                            <td>
                                                {% if player[1].get('competitive_kda') %}
                                                    {{ player[1]['competitive_kda'] }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="stat-title">
                                                Win rate
                                            </td>
                                            <td>
                                                {{ player[1]['winrate'] }}%
                                            </td>
                                            <Td>
                                                {% if player[1].get('competitive_winrate') %}
                                                    {{ player[1]['competitive_winrate'] }}%
                                                {% endif %}
                                            </Td>
                                        </tr>
                                        <tr>
                                            <td class="stat-title">
                                                Card rate
                                            </td>
                                            <td>
                                                {{ player[1]['card_rate'] }}%
                                            </td>
                                            <Td>
                                                {% if player[1].get('competitive_card_rate') %}
                                                    {{ player[1]['competitive_card_rate'] }}%
                                                {% endif %}
                                            </Td>
                                        </tr>
                                        <tr>
                                            <td class="stat-title">
                                                Medal per game
                                            </td>
                                            <td>
                                                {{ player[1]['medal_per_game'] }}
                                            </td>
                                            <Td>
                                                {% if player[1].get('competitive_medal_per_game') %}
                                                    {{ player[1]['competitive_medal_per_game'] }}
                                                {% endif %}
                                            </Td>
                                        </tr>
                                    </table>
                                </div>
                                <ul class="list-inline item-details" id="stat-links">
                                    <li><strong><a href="{{ overwatch_url.format(player[1]['handle']) }}">Overwatch site</a>
                                        </strong>
                                    </li>
                                    <li><strong><a href="{{ masterow_url.format(player[1]['handle']) }}">Master Overwatch</a>
                                        </strong>
                                    </li>
                                    <li><strong><a href="{{ owtracker_url.format(player[1]['handle']) }}">Overwatch Tracker</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cbpAnimatedHeader.js') }}"></script>

    <script src="{{ url_for('static', filename='js/freelancer.js') }}"></script>

    <script>
        $(document).ready(function() {
            var header = $('#header');
            var gif_bg = $('#gif-background');
            var nav = $('#nav');
            var aspect_ratio = 16 / 9; // x / y

            function on_header_resize() {
                var nav_height = nav.outerHeight();
                var height = header.outerHeight() - nav_height;
                var width = header.width();

                var vid_width, vid_height;

                var top, left;

                var ar = width / height;

                if (ar >= aspect_ratio) {
                    vid_width = width;
                    vid_height = 9 * width / 16;

                    top = (vid_height - height) / 2;
                    top = -top + nav_height;
                    left = 0;
                } else {
                    vid_height = height;
                    vid_width = 16 * height / 9;

                    top = nav_height;
                    left = (vid_width - width) / 2;
                    left = -left;
                }

                gif_bg.css({
                    'width': vid_width + 'px',
                    'height': vid_height + 'px',
                    'top': top + 'px',
                    'left': left + 'px'
                });
            }

            on_header_resize();

            $(window).resize(on_header_resize);
        });
    </script>

</body>

</html>
